-- SQL Script to update partner locations in MBet-Adera Supabase database
-- This script modifies the existing partners to be more realistic businesses
-- and keeps only two as facility centers

-- First, update the existing hubs to be the HQ and Sorting Facility
UPDATE partners
SET 
  business_name = 'MBet-Adera Headquarters',
  business_type = 'Headquarters',
  description = 'Main headquarters for MBet-Adera operations',
  is_facility = true,
  contact_person = 'Henok Tesfaye',
  phone_number = '+251115570001',
  email = 'info@mbet-adera.com',
  color = '#3498db'
WHERE id = '55ccb7f7-e5ff-5ac5-d83c-b8ca95af1ed3';

UPDATE partners
SET 
  business_name = 'MBet-Adera Sorting Facility',
  business_type = 'Sorting Facility',
  description = 'Central sorting facility for all parcels',
  is_facility = true,
  contact_person = 'Sara Abebe',
  phone_number = '+251115570002',
  email = 'sorting@mbet-adera.com',
  color = '#2ecc71'
WHERE id = '3016a735-59df-f123-9515-1408fde4304e';

-- Update the remaining hubs to be business partners (NOT facilities)
UPDATE partners
SET 
  business_name = 'Merkato Fashion Gallery',
  business_type = 'Retail - Clothing',
  description = 'Premium clothing store offering local and imported fashion',
  is_facility = false,  -- This is important! Some components filter out locations where is_facility=true
  contact_person = 'Yonas Berhanu',
  phone_number = '+251115570004',
  email = 'merkato.fashion@example.com',
  color = '#f39c12'
WHERE id = '66ea0909-e8d5-be5c-5fd7-66ecd0bb3c7e';

UPDATE partners
SET 
  business_name = 'Piassa Electronics',
  business_type = 'Retail - Electronics',
  description = 'Electronics and gadget shop with latest technology products',
  is_facility = false,  -- This is important! Some components filter out locations where is_facility=true
  contact_person = 'Amanuel Tesfay',
  phone_number = '+251115570003',
  email = 'piassa.electronics@example.com',
  color = '#e74c3c'
WHERE id = 'e5539e8c-04f5-7bfc-5256-09c32494aa90';

-- Create new business partners
-- Prepare entries to insert

-- Update the partner_locations view to reflect these changes
-- This should happen automatically since it's a view that joins partners and addresses
-- However, we can run a manual refresh if needed:

-- REFRESH MATERIALIZED VIEW IF EXISTS partner_locations;

-- If any other tables need updates to ensure consistency, add those commands here 
